@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  width: fit-content;
  animation: fadeIn 1s ease-out;
}

.card-content {
  border-radius: 10px;
  overflow: hidden;
  line-height: 0;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.card-content img {
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.card-content:hover img {
  transform: scale(1.05);
}

.card-label {
  background-color: #ffffff;
  padding: 10px 20px;
  margin-top: -20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  text-align: center;
  width: max-content;
}

.card-wrapper:hover {
  transform: translateY(-10px);
}
